<!-- title image -->
<div fxLayout="column" fxLayoutAlign="space-around stretch">


  <div fxLayout="column" style="margin-top:48px; margin-bottom:100px">
    <router-outlet></router-outlet>
  </div>
</div>