<div fxLayout="column" fxLayout.gt-sm="row">
  <!-- left column -->
  <div fxFlex fxFlex.gt-sm="40" class="cover-div">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <!-- cover image -->
      <div fxFlex="40">
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex>
            <div fxLayout="column">
              <h1 class="mat-display-3 main-plug">Coming to Springfield</h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="90">
                <div hide show.gt-sm flex>
                  <div fxHide fxShow.gt-sm fxLayoutAlign="center center" style="margin-bottom:48px">
                    <img src="/assets/images/cover.jpg" width="100%" class="cover" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div fxFlex fxFlex.gt-sm="60" style="margin-top:48px">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <div fxFlex>
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex="90">
            <div fxLayout="column">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <div fxFlex="70">
                  <div fxLayoutAlign="center center" style="margin-bottom:48px">
                    <img src="/assets/images/title.png" width="70%" />
                  </div>
                </div>
                <div fxLayout="column">
                  <div fxFlex="30">
                    <div fxLayoutAlign.gt-sm="start center" fxLayoutAlign="center center" style="margin-bottom:12px">
                      <img src="/assets/images/pastor.png" width="70%" />
                    </div>
                    <h4 class="mat-subheading-1 date">Featuring speaker:</h4>
                    <h4 class="mat-subheading-1 date">Phillip Sizemore</h4>
                  </div>
                </div>
              </div>
              <div fxLayout="column" fxLayout.gt-sm="row" style="margin-top:48px">
                <div fxFlex="50">
                  <div fxLayoutAlign="start center" style="margin-bottom:48px">
                    <img src="/assets/images/map.jpg" width="60%" />
                  </div>
                  <h1 class="mat-display-1 date"><strong>Hope Through Prophecy</strong></h1>
                  <h1 class="mat-display-1 date"><strong>Church Auditorium</strong></h1>
                  <h1 class="mat-display-1 date">702 S Belview Ave.</h1>
                  <h1 class="mat-display-1 date">Springfield, MO</h1>
                  <!-- ************************************************
                    IMPORTANT IMPORTANT IMPORTANT IMPORTANT 
                  Be sure to update the location, date and time for the
                  SMS notification message in RegistrationController.cs
                  **********************************************************-->

                </div>
                <div fxLayout="column">
                  <div fxFlex="50">
                    <h1 class="mat-display-2 date">Begins Friday</h1>
                    <h1 class="mat-display-2 date">Oct. 19</h1>
                    <h1 class="mat-display-2 date">7:00 p.m.</h1>
                    <h1 class="mat-display-1 date1">Continues nightly except
                      Mon., Tues., and Thurs.</h1>
                  </div>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayoutAlign="center center" class="button-align">
                  <button mat-button class="btn-img" routerLink='register'>
                    <img src="/assets/images/button.png" width="100%" />
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>